@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
  --main-color: rgba(137, 82, 61, 0.6);
  --primary: rgb(102, 52, 239);
  --dark: rgb(33, 33, 33);
  --light: rgb(238, 224, 224);
  --gray: rgb(100, 100, 100);
  --typo: 'Hind Siliguri', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  font-family: var(--typo);
  user-select: none;
}

body {
  background-color: var(--gray);
}

#root {
  min-height: 100vh;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  pointer-events: none;
}

a {
  color: var(--light);
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--light);
  border-radius: 0.25rem;
  border: 0;
  outline: 0;
  padding: 0.75rem;
  margin-left: 0.25rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button:active {
  transform: translate(0.15rem, 0.15rem);
  transition: none;
}

button.disabled {
  opacity: 0.6;
}

button svg {
  font-size: 1.5rem;
}

svg {
  color: var(--light);
}

/* Header */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

header nav svg {
  cursor: pointer;
  font-size: 1.5rem;
}

/* window */
.window {
  width: 392px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--main-color);
  background-image: url("./background.png");
  border-radius: 0.25rem;
}

.window header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Board */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--main-color);
  background-image: url("./background.png");
  border-radius: 0.25rem;
}

main ul {
  display: flex;
  margin: 0.5rem 0;
  gap: 0.5rem;
}

.row-board {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  animation: new-row 500ms forwards ease-in-out 100ms;
  transform: translateY(-100%);
  opacity: 0;
  margin-top: 0.5rem;
}

.row-board ul:first-child {
  flex-wrap: wrap;
}

@keyframes new-row {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.pin-board {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;
}

.pin-board ul {
  width: min-content;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.hole,
.solution-hole,
.pins {
  cursor: pointer;
  display: block;
  border: 2px solid var(--dark);
  background-color: rgba(0, 0, 0, 0.2);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  text-align: center;
}

.answer-hole {
  display: block;
  border: 2px solid var(--dark);
  background-color: rgba(0, 0, 0, 0.2);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.solution {
  flex: 1;
}

.solution div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.solution ul {
  padding: 0.75rem;
  border: 2px dashed #000;
  border-radius: 0.25rem;
}

h3 {
  width: 70%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px dashed #000;
  border-radius: 0.25rem;
}

.solution-hole.show {
  opacity: 0;
  animation: show-solution 1s ease-in-out forwards;
}

.solution-hole.show:nth-child(2) {
  animation: show-solution 1s ease-in-out forwards 0.3s;
}

.solution-hole.show:nth-child(3) {
  animation: show-solution 1s ease-in-out forwards 0.6s;
}

.solution-hole.show:nth-child(4) {
  animation: show-solution 1s ease-in-out forwards 0.9s;
}

.solution-hole.show:nth-child(5) {
  animation: show-solution 1s ease-in-out forwards 1.2s;
}

@keyframes show-solution {
  from {
    transform: rotate3d(1, 0, 0, 360deg);
    opacity: 0;
  }

  to {
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1;
  }
}


.solution-hole {
  cursor: auto;
}

.pins {
  cursor: pointer;
  border: 0;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.answer-hole.positionOk {
  background-color: black;
}

.answer-hole.colorOk {
  background-color: white;
}

/* Footer */
footer {
  font-size: 90%;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 600px) {

  main,
  .window {
    width: 100vw;
  }
}