@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

:root {
    --main-color: rgba(137, 82, 61, 0.6);
    --primary: rgb(102, 52, 239);
    --primary-60: rgb(102, 52, 239, 0.6);
    --dark: rgb(33, 33, 33);
    --light: rgb(238, 224, 224);
    --gray: rgb(100, 100, 100);
    --typo: 'Hind Siliguri', sans-serif;
    --image: url("./background.png");
    --size-pin: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: var(--typo);
    user-select: none;
    /* outline: 1px solid red; */
}

html {
    /* scroll per firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;
}

/* Scroll per chrome */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.0.5);
}

body {
    background-color: var(--gray);
}

#root {
    height: 100vh;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

a {
    color: var(--light);
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--light);
    border-radius: 0.25rem;
    border: 0;
    outline: 0;
    padding: 0.75rem;
    margin-left: 0.25rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button:active {
    transform: translate(0.15rem, 0.15rem);
    transition: none;
}

button.disabled {
    opacity: 0.6;
}

button svg {
    font-size: 1.5rem;
}

svg {
    color: var(--light);
}

/* Header */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

header nav svg {
    cursor: pointer;
    font-size: 1.5rem;
}

/* window */
.window {
    width: 450px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--main-color);
    background-image: var(--image);
    border-radius: 0.25rem;
}

.window header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.window h3 {
    width: 70%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    line-height: var(--size-pin);
    border: 2px dashed #000;
    border-radius: 0.25rem;
    color: var(--light);
}

.window div {
    align-self: center;
}

ul.help {
    padding: 1rem;
    color: var(--light);

}

.help li {
    list-style-type: none;
    margin-top: 2rem;
    line-height: 90%;
}

ul.stats {
    align-self: center;
    margin: 1rem;
    display: flex;
    gap: 0.75rem;
}

.stats li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--light);
    background-color: rgba(0, 0, 0, 0.5);
}

.graphic {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.text-label {
    color: var(--light);
    width: 50px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

.container-bar {
    height: 30px;
    width: 100%;
    margin: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container-bar .bar {
    height: 30px;
    line-height: 30px;
    background-color: var(--primary);
    border-radius: 0.25rem;
    animation: load 2s ease-in-out forwards;
}

@keyframes load {
    from {
        width: 0;
    }

    to {
        width: none;
    }
}

.text-stats {
    color: var(--light);
    padding: 0 1rem;
    white-space: nowrap;
}

.stats li span:first-of-type {
    width: calc(var(--size-pin)*1.3);
    height: calc(var(--size-pin)*1.3);
    line-height: calc(var(--size-pin)*1.3);
    border-radius: 50%;
    text-align: center;
    background-color: var(--primary);
    font-size: 20px;
}

.options ul {
    margin: 2rem;
    display: flex;
    gap: 0.5rem;
}

.options li {
    cursor: pointer;
    list-style-type: none;
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 1rem;
    color: var(--light);
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

.options li.active {
    background-color: var(--primary);
}


/* Board */
main {
    width: 450px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
    background-color: var(--main-color);
    background-image: var(--image);
    border-radius: 0.25rem;
}

main ul {
    display: flex;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.board {
    overflow-y: auto;
}

.row-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    animation: new-row 500ms forwards ease-in-out 100ms;
    transform: translateY(-100%);
    opacity: 0;
    margin-top: 0.5rem;
}

.row-board ul:first-child {
    flex-wrap: wrap;
}

@keyframes new-row {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* pins board */
.pin-board {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.attempts {
    cursor: auto;
    color: var(--light);
    border: 2px solid var(--dark);
    background-color: rgba(0, 0, 0, 0.2);
    font-size: large;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    justify-content: center;
}

.pin-board ul {
    width: min-content;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.pins {
    cursor: pointer;
    display: block;
    border: 0;
    width: var(--size-pin);
    height: var(--size-pin);
    line-height: var(--size-pin);
    border-radius: 50%;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

/* game board */
.hole,
.solution-hole {
    cursor: pointer;
    display: block;
    border: 2px solid var(--dark);
    background-color: rgba(0, 0, 0, 0.2);
    width: var(--size-pin);
    height: var(--size-pin);
    line-height: var(--size-pin);
    border-radius: 50%;
    text-align: center;
}

.answer-hole {
    display: block;
    border: 2px solid var(--dark);
    background-color: rgba(0, 0, 0, 0.2);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.answer-hole.positionOk {
    background-color: black;
}

.answer-hole.colorOk {
    background-color: white;
}

/* solution board */
.solution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.solution ul {
    padding: 0.75rem;
    border: 2px dashed #000;
    border-radius: 0.25rem;
}

.solution-hole {
    cursor: auto;
}

.solution-hole.show {
    opacity: 0;
    animation: show-solution 1s ease-in-out forwards;
}

.solution-hole.show:nth-child(2) {
    animation: show-solution 1s ease-in-out forwards 0.3s;
}

.solution-hole.show:nth-child(3) {
    animation: show-solution 1s ease-in-out forwards 0.6s;
}

.solution-hole.show:nth-child(4) {
    animation: show-solution 1s ease-in-out forwards 0.9s;
}

.solution-hole.show:nth-child(5) {
    animation: show-solution 1s ease-in-out forwards 1.2s;
}

@keyframes show-solution {
    from {
        transform: rotate3d(1, 0, 0, 360deg);
        opacity: 0;
    }

    to {
        transform: rotate3d(1, 0, 0, 0deg);
        opacity: 1;
    }
}

/* Footer */
footer {
    font-size: 90%;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    #root {
        padding: 0.5rem;
    }

    main,
    .window {
        width: 100vw;
        border-radius: 0;
    }

    .row-board {
        gap: 1rem;
    }

    .row-board ul:first-child {
        justify-content: center;
        padding: 0 0.5rem;
    }

    .pin-board {
        gap: 1rem;
    }
}